:root {
  --color-white: #fff;
  --color-primary: #2563eb;
  --color-disabled: #94a3b8;
  --color-step-default: #e5e7eb;
  --color-body-background: #f8fafc;
  --color-body-text: #0f172a;
  --color-success: #16a34a;
  --color-error: #dc2626;
}
