@import "./colors.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}
body {
  background-color: var(--color-body-background);
  color: var(--color-body-text);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
