.formGrid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.memberTypesLabel {
  font-weight: 800;
  color: var(--color-body-text);
  margin-bottom: 1.5rem;
}

.memberTypes {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .memberTypes {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
  }
}
